@import "~materialize-css/dist/css/materialize.min.css";

#root {
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 1000;
}
.wrapper {
    background-image: url(http://max-themes.net/demos/oshine/oshine-demo/v7/upload/oshin-v7-home.jpg);
    background-position: center;
    background-size: cover;
}

.container {
  height: 100vh;
  position: relative;
}
.ba-main {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.ba-main__header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
