.ba-social-network {
    color: white;
    
}
.ba-social-network > a {
    text-decoration: none;
    color: #ba6;
    padding-right: 20px;
}

.ba-social-network > a:hover {
    color: #af9f62;
}

.svg-inline--fa.fa-w-14 {
    width: 25px
}
.svg-inline--fa.fa-w-16 {
    width: 25px;
}
.svg-inline--fa {
    height: 25px;
}
